<h1>Edit your Jobs post</h1>

<%= simple_form_for @job do |f| %>

    <%= f.label :name, "Enter a job title" %> : <br>
    <%= f.text_field :name %> <br>

    <%= f.label :description, "Enter a description" %> : <br>
    <%= f.text_area :description %> <br>

    <%= f.label :category, "Select a jobs " %> :
    <%= f.select :category, ["IT", "Finance", "AI","Education", "Non-Profit"]%> <br>

    <%= f.label :duration, "Select a duration for internship " %> :
    <%= f.select :duration, ["Less than 3 months", "3 months", "3-6 months", "6 months", "More than 6 months"] %> <br>

    <%= f.submit "submit" %>
<% end %>
<% if policy(@job).destroy? %>
<%= link_to 'delete post', job_path(@job), method: :delete %>
<% end %>
<p><%= link_to "Back to list", jobs_path %></p>
