<div class="container">

<div class="wrapper">
<article class="content">
  <div class="panel">
<h1>Jobs index</h1>
<% if @jobs %>
<span> <h2><%= @jobs.count %> Jobs found in: <%=@jobquery %></h2></span>
<% end %>
</div>
<div>
<% @jobs.each do |job| %>

<div>
<h3><%=link_to job.name, job_path(job) %></h3>
<ul>
<li>Category: <%= job.category %></li>
<li>Internship duration : <%= job.duration %></li>
<li><%=job.user.city%> </li>
<li>Publication date : <%= job.created_at %></li>
</ul>
<div>
  <div class="business_info">
    <% if job.user.logo.attached? %>
      <%= cl_image_tag(job.user.logo.key, height: 120, crop: :fill) %>
    <% end %>
    <h4><strong><%= job.user.company_name %></strong></h4>
    <p><%= job.user.business_size %></p>
    <p><%= job.user.street_address %></p>
    <p><%= link_to "Visit Website", job.user.website %></p>
  </div>
<% end %>

 </article>
<div class="container">
<aside class="sidebar">
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</aside>


</div>
<%= link_to "Home", root_path %>
</div>
</div>
</div>

