<h1>Jobs index</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12 d-flex flex-row">
<div>
<% @jobs.each do |job| %>

<div>
<h3><%=link_to job.name, job_path(job) %></h3>
<ul>
<li>Category: <%= job.category %></li>
<li>Internship duration : <%= job.duration %></li>
<li><%=job.user.city%> </li>
<li>Publication date : <%= job.created_at %></li>
</ul>
<div>
  <div class="business_info">
    <% if job.user.logo.attached? %>
      <%= cl_image_tag(job.user.logo.key, height: 120, crop: :fill) %>
    <% end %>
    <h4><strong><%= job.user.company_name %></strong></h4>
    <p><%= job.user.business_size %></p>
    <p><%= job.user.street_address %></p>
    <p><%= link_to "Visit Website", job.user.website %></p>
  </div>
<% end %>
</div>
</div>
</div>
</div>
