
<div class="search_body">
  <div class="search_results">
    <div class="search_query">
      <% if @jobs %>
        <p><%= @jobs.count %> Jobs found in: <%=@jobquery %></p>
      <% end %>
    </div>
    <% @jobs.each do |job| %>
      <div class="card_search_container">
        <div class="logo">
          <% if job.user.logo.attached? %>
            <%= cl_image_tag(job.user.logo.key, width: 75)%>
          <% end %>
        </div>
        <div class="card_infos">
          <p class="job_name result"><%=link_to job.name, job_path(job) %></p>
          <p class="business_name result"><%= job.user.company_name %></p>
          <p class="date"><%= job.created_at %></p>
          <p class="text-s"><%= image_tag "map-marker-alt.svg", alt: "Map pin" %> <%=job.user.street_address%></p>
        </div>
          <div class="cta">
            <%= link_to "View details", job.user.website, class: 'bt-m' %>
<!--           <a href="#"><div class="bt-m">View details</div></a>
 -->        </div>
      </div>
    <% end %>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  </div>
</div>
<<<<<<< HEAD
=======
<!--style="width: 100%; height: 600px;"-->
>>>>>>> 9e1b2b02b012b46ac168b508c4af207fee339785
