<h1>Jobs index</h1>

<div>
<% @jobs.each do |job| %>
<div>
<h3><%= job.name %></h3>
<ul>
<li>user.logo</li>
<li><%= job.user.company_name %></li>
<li>Category: <%= job.category %></li>
<li><%=job.user.city%> </li>
<li>Publication date : <%= job.created_at %></li>
</ul>
<div>
<% end %>
</div>
