<h1>Create an internship post</h1>

<%= simple_form_for @job do |f| %>
  <%= f.error_notification %>

    <%= f.label :duration, "Internship duration" %> :
    <%= f.select :duration, ["Less than 3 months", "3 months", "3-6 months", "6 months", "More than 6 months"] %> <br>

    <%= f.label :name, "Job title" %> : <%= f.text_field :name %> <br>

    <%= f.label :description, "Enter a description" %> : <br>
    <div id = "description_container">
      <%= f.text_area :description %>
    </div><br>

    <%= f.submit "submit" %>
<% end %>

<p><%= link_to "Back to list", jobs_path %></p>
