<div class="container">
<h1><%= @job.name %></h1>
  <div class="row justify-content-md-center show_card">
    <div class="col-md-12 col-lg-6">
      <% if @job.user.logo.attached? %>
        <td class=""><%= cl_image_tag @job.user.logo.key, height: 120, crop: :fill %></td>
      <% end %>
      <h3><strong><%= @job.user.company_name %></strong></h3>
      <b>Address: <%= @job.user.street_address %></b>
    </div>
  </div>
    <li class="block-description"><b>Category:</b> <%= @job.category %></li>
    <li class="block-description"><b>Internship duration: </b><%= @job.duration %></li>
    <li class="block-description"><b>Publication date: </b><%= @job.created_at.strftime("%b %d, %Y") %></li>
    <li class="block-description"><b>Address: </b><%=@job.user.street_address%> </li>
    <li class="block-description"><b>Publication date: </b><%= @job.created_at %></li>
<div>
  <p>
    <%= @job.description.html_safe %>
  </p>
</div>
<div>
  <p><%= link_to "Visit Website", @job.user.website %></p>
</div>
</div>
</div>

<!-- This is were the business details card starts -->

<div class="card_wraper">
  <div class="business_card_login">
    <div class="logo">
      <img src="./images/BNC_logo.png" alt="" width="106" >
    </div>
    <div class="card_infos">
      <p class="business_name">Banque Nationale du Canada</p>
      <p class="infos_label">Number of employee</p>
      <p class="infos">More than 250 employees</p>
      <p class="infos_label "><%=@job.user.street_address%></p>
      <a href="#">Website</a>
    </div>
  </div>
  <div class="map_container">
    <div class="card_map"></div>
  </div>
  <div class="apply_container">
    <a href="#"><div class="bt-xl">Submit your candidacy</div></a>
  </div>
</div>

<!-- This is where it ends -->



<% if policy(@job).edit? %>
<button type='button' onclick="location.href='<%= edit_job_path %>';">edit job</button>
<% end %>
<button type='button' onclick="location.href='<%= jobs_path %>';">Back to list</button>
<button type='button' onclick="location.href='<%=new_job_request_path(@job)%>';">Apply to job</button>


