<!-- This is were the business details card starts -->
<div class="container_job">
  <div class="job_descripiton"><%= @job.description.html_safe %>
</div>

  <div class="card_wraper">
    <div class="business_card_login">
      <div class="logo">
        <%= cl_image_tag(@job.user.logo.key, width: 75)%>
      </div>
      <div class="card_infos">
        <p class="business_name"><%= @job.user.company_name %></p>
        <p class="infos_label">Number of employee</p>
        <p class="infos">More than 250 employees</p>
        <p class="infos_label ">Address</p>
        <p class="infos"><%= @job.user.street_address %></p>
        <%= link_to "Visit Website", @job.user.website %>
      </div>
    </div>
    <div class="map_container">
      <div class="card_map"></div>
    </div>
    <div class="apply_container">
      <div class="bt-xl"><%=link_to "Submit your candidacy",new_job_request_path(@job), class: "bt-xl"%> </div></a>
    </div>
  </div>
  <div class="action-buttons">
    <div class="apply_container">
    <a href="#">
      </div>
<!-- This is where it ends -->
    <% if policy(@job).edit? %>
    <button type='button' onclick="location.href='<%= edit_job_path %>';">edit job</button>
    <% end %>
    <button type='button' onclick="location.href='<%= jobs_path %>';">Back to list</button>
    <button type='button' onclick="location.href='<%=new_job_request_path(@job)%>';">Apply to job</button>
  </div>
 </div>




