<div class ="container">
<h1>Hello <%= @user.company_name %></h1>
<%#= cl_image_tag @user.logo.key, width: 120 %>
<div>
<ul>
<li><b>First Name:</b> <%= @user.first_name %></li>
<li><b>Last Name:</b> <%= @user.last_name %></li>
<li><b>Email:</b> <%= @user.email %></li>
<li><b>Street Address:</b> <%= @user.street_address %> </li>
<<<<<<< HEAD

<li><b>Province:</b> <%= @user.province %> </li>
<li><b>Postal Code:</b> <%= @user.postal_code %> </li>
=======
>>>>>>> fa85ec7e48608dda4c7ecd6fe485df959a3ae8a4
<li><b>Country:</b> <%= @user.country %> </li>
<li><b>Website:</b> <%= @user.website %> </li>

</ul>
<button type='button' onclick="location.href='<%= jobs_path %>';">Back to list</button>
</div>
<%= link_to "Edit your profile", edit_user_registration_path %><p>
<%= link_to "Delete your account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %>

<<<<<<< HEAD
<!--Interns who applied to jobs-->
<h1>Incoming application</h1>
<% @incoming_requests.each do |request| %>
  <p><%= request.user.first_name %> <%= request.user.last_name %></p>
  <p><%= request.job.name %></p>
  <p><%= link_to 'See his profile', user_path(request.user) %> </p>
<% end %>
=======

  <h1>Incoming application</h1>
  <% @incoming_requests.each do |request| %>
    <p><%= request.user.first_name %> <%= request.user.last_name %></p>
    <p><%= request.job.name %></p>
    <p><%= link_to 'See his profile', user_path(request.user) %> </p>
  <% end %>
>>>>>>> fa85ec7e48608dda4c7ecd6fe485df959a3ae8a4
